.sidebar {
  position: fixed;
  width: 80px;
  left: 0;
  top: 70px;
  padding-left: 0;
  min-height: 680px;
  height: 100vh;
  color: #5f6368;
  text-decoration: none;
  overflow: hidden;
  transition: width 0.1s;
}

.dark li a,
.dark li a:hover {
  color: white;
}

.dark li a:hover {
  background-color: rgba(87, 87, 87, 0.2);
}

.dark .sidebar:hover {
  background-color: #202124;
}

.sidebar:hover {
  z-index: 1;
  background-color: white;
  width: 300px;
  overflow: visible;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.isSidebarOpen {
  z-index: 1;
  background-color: white;
  width: 300px;
  overflow: visible;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.bellIdle,
.archiveIdle,
.binIdle,
.keepIdle {
  height: 20px;
  width: 20px;
  cursor: pointer;
  padding-left: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 80%;
  display: flex;
  flex-direction: column;
}

li a {
  width: 300px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-top: 10px;
  height: 40px;
}

li a:hover {
  background-color: rgba(191, 191, 191, 0.2);
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  color: black;
}

li p {
  width: 150px;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.3px;
  padding-left: 45px;
  margin-left: 20px;
  font-weight: 500;
}

.sourceCode {
  max-width: 80px;
  font-size: 12px;
  text-align: left;
  margin-left: 123px;
  letter-spacing: 0.3px;
}

.sourceCode a,
.sourceCode a:visited {
  text-decoration: none;
  color: #5f6368;
}

a:hover {
  text-decoration: none;
  color: #5f6368;
}

@media screen and (max-width: 769px) {
  .bellIdle,
  .archiveIdle,
  .binIdle,
  .keepIdle {
    padding-left: 25px;
  }

  li p {
    width: 50px;
    text-align: left;
    padding-left: 20px;
  }

  .isSidebarOpen {
    z-index: 1;
    width: 180px;
  }

  .sidebar:hover {
    z-index: 1;
    width: 180px;
  }

  .dark .sidebar:hover {
    background-color: #202124;
  }

  .dark .isSidebarOpen {
    background-color: #202124;
  }

  .sourceCode {
    margin-left: 80px;
  }

  li a {
    width: 180px;
  }
}
